.p-course__menu
  .p-course__menu__title チュートリアルコース
  .p-course__menu__contents.is-wide
    .p-course__menu__contents__desc
      .p-course__menu__item
        .p-course__menu__label 対象
        .p-course__menu__text 小学生、中学生、高校生
      .p-course__menu__item
        .p-course__menu__label 科目と授業時間
        .p-course__menu__text
          |数学・国語・英語・理科・社会
          br.u-is-sp
          |／ 1コマ60分
      .p-course__menu__item
        .p-course__menu__label コース概要
        .p-course__menu__text
          |生徒と講師の比率を1:2として、一人一人の学習状況や個性にあった授業を展開しています。
          br
          |演習→丸付け→演習→丸付け…のような、単調な授業ではなく、1問ごとに生徒から「なぜそうなったのか？」を話してもらいます。
          br
          |人に説明をすることにより、より深い理解を得ることができます。
          br
          |定期テストの前や講習会等では通常の授業で受講をさせていない科目でも1コマから追加が可能です。

    .p-course__menu__pricelist__wrap(data-module="CourseTimetableMore")
      .p-course__menu__button.u-is-sp(data-course-timetable-more-roll="trigger")
        .p-course__menu__button__link(data-course-timetable-more-roll="icon") 料金表をみる

      .p-course__menu__pricelist__area(data-course-timetable-more-roll="target")
        .p-course__menu__contents__table(data-course-timetable-more-roll="content")
          .p-course__menu__label 料金表
          .p-course__menu__pricelist__scroll
            .p-course__menu__pricelist__scroll__inner(data-module="scrollHint")
              table.p-course__menu__pricelist
                tbody
                  -
                    var pricelistHeading1 = [
                      { text: '月間コマ数' },
                      { text: '4コマ' },
                      { text: '8コマ' },
                      { text: '12コマ' },
                      { text: '16コマ' },
                      { text: '20コマ' },
                      { text: '24コマ' },
                      { text: '追加1コマ' },
                    ]
                  tr.p-course__menu__pricelist__heading
                    each item in pricelistHeading1
                      th
                        .p-course__menu__pricelist__heading__item #{item.text}
                  -
                    var pricelistBody1 = [
                      {
                        childItems: [
                          { text: '小学生' },
                          { text: '9,900' },
                          { text: '19,800' },
                          { text: '29,700' },
                          { text: '39,600' },
                          { text: '49,500' },
                          { text: '59,400' },
                          { text: '2,475' },
                        ],
                      },
                      {
                        childItems: [
                          { text: '中1・2' },
                          { text: '11,000' },
                          { text: '22,000' },
                          { text: '33,000' },
                          { text: '44,000' },
                          { text: '55,000' },
                          { text: '66,000' },
                          { text: '2,750' },
                        ],
                      },
                      {
                        childItems: [
                          { text: '中3' },
                          { text: '12,100' },
                          { text: '24,200' },
                          { text: '33,000' },
                          { text: '48,400' },
                          { text: '60,500' },
                          { text: '72,600' },
                          { text: '3,025' },
                        ],
                      },
                      {
                        childItems: [
                          { text: '高1' },
                          { text: '13,200' },
                          { text: '26,400' },
                          { text: '36,300' },
                          { text: '52,800' },
                          { text: '66,000' },
                          { text: '79,200' },
                          { text: '3,300' },
                        ],
                      },
                    ]
                  each item in pricelistBody1
                    tr.p-course__menu__pricelist__body
                      if item.childItems
                        each childItem in item.childItems
                          td
                            .p-course__menu__pricelist__body__item !{childItem.text}
          .p-course__menu__pricelist__notes
            p ※ 税込表記
          .p-course__menu__pricelist__scroll
            .p-course__menu__pricelist__scroll__inner(data-module="scrollHint")
              table.p-course__menu__pricelist
                tbody
                  -
                    var pricelistHeading2 = [
                      { text: '月間コマ数' },
                      { text: '4コマ' },
                      { text: '8コマ' },
                      { text: '12コマ' },
                      { text: '16コマ' },
                      { text: '20コマ' },
                      { text: '24コマ' },
                      { text: '追加1コマ' },
                    ]
                  tr.p-course__menu__pricelist__heading
                    each item in pricelistHeading2
                      th
                        .p-course__menu__pricelist__heading__item #{item.text}
                  -
                    var pricelistBody2 = [
                      {
                        childItems: [
                          { text: '高2' },
                          { text: '19,800' },
                          { text: '39,600' },
                          { text: '59,400' },
                          { text: '79,200' },
                          { text: '99,000' },
                          { text: '118,800' },
                          { text: '3,300' },
                        ],
                      },
                      {
                        childItems: [
                          { text: '高3' },
                          { text: '21,450' },
                          { text: '42,900' },
                          { text: '64,350' },
                          { text: '85,800' },
                          { text: '107,250' },
                          { text: '128,700' },
                          { text: '3,575' },
                        ],
                      },
                    ]
                  each item in pricelistBody2
                    tr.p-course__menu__pricelist__body
                      if item.childItems
                        each childItem in item.childItems
                          td
                            .p-course__menu__pricelist__body__item !{childItem.text}
          .p-course__menu__pricelist__notes
            p ※ 税込表記
  .p-course__menu__timetable(data-module="CourseTimetableMore")
    .p-course__menu__button(data-course-timetable-more-roll="trigger")
      .p-course__menu__button__link(data-course-timetable-more-roll="icon") 時間割をみる

    .p-course__menu__timetable__area(data-course-timetable-more-roll="target")
      table.p-course__menu__timetable__list(data-course-timetable-more-roll="content")
        tbody

          -
            var timetableHeading = [
              { text: '' },
              { text: '月' },
              { text: '火' },
              { text: '水' },
              { text: '木' },
              { text: '金' },
              { text: '土' },
              { text: '日' },
            ]
          tr.p-course__menu__timetable__list__heading
            each item in timetableHeading
              th.p-course__menu__timetable__list__heading__item #{item.text}

          -
            var timetableBody = [
              {
                childItems: [
                  { text: '13:40 - <br class="u-is-sp">14:40', blank: false},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '14:50 - <br class="u-is-sp">15:50', blank: false},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '', blank: true},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '16:00 - <br class="u-is-sp">17:00', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '17:10 - <br class="u-is-sp">18:10', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '18:20 - <br class="u-is-sp">19:20', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '19:30 - <br class="u-is-sp">20:30', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                  { text: '', blank: true},
                ],
              },
              {
                childItems: [
                  { text: '20:40 - <br class="u-is-sp">21:40', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '●', blank: false},
                  { text: '', blank: true},
                  { text: '', blank: true},
                ],
              },
            ]
          each item in timetableBody
            tr.p-course__menu__timetable__list__body
              if item.childItems
                each childItem in item.childItems
                  if childItem.blank==true
                    td.p-course__menu__timetable__list__body__item.is-blank #{childItem.text}
                  else
                    td.p-course__menu__timetable__list__body__item !{childItem.text}
