extend ../_template

block vars
  - title = 'コスモジュクについて｜コスモジュク'
  - description = '①学力アップ、受験対策、成績アップはもちろんのこと、コスモジュクでは学力だけにとどまらず、社会に出たとき、さらに価値が高まる能力を学ぶ場としてありたいと考えてます。②試験や受験を経て、社会に出た時にさらに価値が高まる能力を学ぶ場所を提供する、そんな塾でありたい。「何のために勉強するの？」こんな疑問をお持ちの方はぜひ一緒に学ぶ楽しさを感じてみませんか？'
  - keywords = '塾,個別指導,集団授業,受験,コスモジュク,コスモ,上永谷,港南,日限山,丸山台,舞岡'
  - img = 'http://renewal.cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://renewal.cosmojuku.com'
  - pageTitleEN = 'ABOUT'
  - pageTitleJP = 'コスモジュクって<br class="u-is-sp">どんな塾？'

block main
  include ../component/_header.pug
  .p-about
    include ../component/_heading.pug

    .c-section.p-about__about
      .c-section__inner
        .c-section__contents.is-narrow
          .p-about__about__inner
            .p-about__about__image.u-is-pc(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-20% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              img(src="/assets/images/about/img_illust001.png", alt="イラスト")
            .p-about__about__text
              p.p-about__about__text__lead(
                data-module="scrollAnimation"
                data-options={
                  root: null,
                  rootMargin: '-20% 0%',
                  threshold: [0],
                  animation: 'fadeUp'
                }
              )
                |皆さんは「塾」に対してどんなイメージを持ちますか？
                br
                |「学力を身につけるところ」「受験のために勉強するところ」「成績を上げるところ」
                br
                |一般的にはこのようなことが思い浮かべられると思います。
                br
                |もちろんこれらも大切な役割の一つです。
                br
                |でも、塾にはもっとできることがあるのではないだろうか。
                br
                |コスモジュクは新しい可能性をずっと探し続けてきました。
                br
                |そこでたどり着いたのが「一生ものの知識を身につけるための教育」です。
                br
                |試験や受験を経て、社会に出た時にさらに価値が高まる能力を学ぶ場所を提供する、
                br
                |我々はそんな塾でありたいと考えます。
            .p-about__about__text
              p.p-about__about__text__head(
                data-module="scrollAnimation"
                data-options={
                  root: null,
                  rootMargin: '-20% 0%',
                  threshold: [0],
                  animation: 'fadeUp'
                }
              )
                |気づき、
                br.u-is-sp
                |じっくり考え、
                br.u-is-sp
                |人に伝える
              p.p-about__about__text__lead(
                data-module="scrollAnimation"
                data-options={
                  root: null,
                  rootMargin: '-20% 0%',
                  threshold: [0],
                  animation: 'fadeUp'
                }
              )
                |この三つの力は生きていく上で何よりの財産になるはずです。
                br
                |社会において、学力だけにとどまらない能力がより強く求められる今こそ、
                br
                |コスモジュクでこれらを習得し10年後の未来を変えてみませんか？
            .p-about__about__image.u-is-sp(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-20% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              img(src="/assets/images/about/img_illust001.png", alt="イラスト")
    .c-section.p-about__point
      .c-section__inner.p-about__point__inner.is-001
        .c-section__contents.is-narrow
          .p-about__point__contents.is-point1(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '-20% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            .p-about__point__contents__text
              p.p-about__point__contents__text__heading
                span.p-about__point__contents__text__heading__point
                  |POINT 1
                span.p-about__point__contents__text__heading__title
                  |ガゾリンを補充する
              p.p-about__point__contents__text__title
                |気づかせる環境
              p.p-about__point__contents__text__main
                |例えば、好きな曲の歌詞はぐんぐん暗記できる。こんな経験をしたことはありませんか？　歌詞を覚えることだって、立派な学びのひとつ。このように人間は興味関心のあることについて学習することを苦に感じません。学業も、興味関心があれば頑張ることができるんです。
                br
                |そこで重要なのが「疑問を持つ＝疑問に気づく」ということ。
                br
                |コスモジュクの授業では、”なんでだろう？”と感じる場面をより多く設け、その「気づき」を学習の意欲に変えていくことを心がけています。
            .p-about__point__contents__image
              img(src="/assets/images/about/img_point001.png", alt="イラスト")
      .p-about__point__line.is-001
      .c-section__inner.p-about__point__inner.is-002
        .c-section__contents.is-narrow
          .p-about__point__contents.is-point2(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '-20% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            .p-about__point__contents__text
              p.p-about__point__contents__text__heading
                span.p-about__point__contents__text__heading__point
                  |POINT 2
                span.p-about__point__contents__text__heading__title
                  |エンジンをかける
              p.p-about__point__contents__text__title
                |じっくり考える環境
              p.p-about__point__contents__text__main
                |まずは「疑問を持つ」ことが学びへの第一歩。けれどもその疑問を放っておくのはもちろん、受け身になってただ与えられた答えをインプットするだけでは成長には繋がりません。解決策が見つかるまでじっくりと考えることが重要になってきます。でも自分一人だと「どれだけ考えても分からない、もういいや」と諦めてしまう可能性も。そんな時は一緒に考え導いてくれる存在が必要です。コスモジュクの講師は、自分自身でじっくり考え、答えにたどり着くためのサポートを全力で行います。
            .p-about__point__contents__image
              img(src="/assets/images/about/img_point002.png", alt="イラスト")
      .p-about__point__line.is-002
      .c-section__inner.p-about__point__inner.is-003
        .c-section__contents.is-narrow
          .p-about__point__contents.is-point3(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '-20% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            .p-about__point__contents__text
              p.p-about__point__contents__text__heading
                span.p-about__point__contents__text__heading__point
                  |POINT 3
                span.p-about__point__contents__text__heading__title
                  |楽しくドライブ
              p.p-about__point__contents__text__title
                |人に伝える環境
              p.p-about__point__contents__text__main
                |学んだことを自分自身の言葉で「人に伝える」ことで、得た知識をさらに深く理解することができます。そのためコスモジュクでは、授業の一環として生徒同士が学習したことを発表する場を積極的に設けています。自分の知識や意見を見つめ直せるだけではなく、他者の発想と出会うことによって新たな気づきを得ることができる。このようにして、学びのサイクルが生まれていきます。同時に、社会に出てから必要とされるプレゼンのスキルも自然と向上させる目的も果たしています。
            .p-about__point__contents__image
              img(src="/assets/images/about/img_point003.png", alt="イラスト")
    .c-section.p-about__features
      .c-section__inner
        .c-section__contents.is-narrow
          .p-about__features__inner
            .p-about__heading(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '0% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              p.p-about__heading__text
                |コスモジュクの
                br.u-is-sp
                |学びの特徴
              p.p-about__heading__lead
                |10年後の未来を変える学びの場を提供するために、他の塾とは何が違うのか、どんなことを取り入れているのか。
                br
                |「勉強ってこんなに楽しいんだ！」と実感していただけるような学びの特徴をご紹介します。
            .p-about__features__movie(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-25% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-about__features__movie__inner(data-module="playMovie")
                a.p-about__features__movie__play(href="javascript:void(0)" data-module-playmovie-roll="trigger")
                  img(src="/assets/images/about/img_play001.png", alt="再生ボタン")
                video(src="/assets/images/about/movie.mp4" poster="/assets/images/about/pic_movie-thumb.png" preload="auto" muted playsinline data-module-playmovie-roll="target")
            .p-about__features__text
              .p-about__features__text__main(
                data-module="scrollAnimation"
                data-options={
                  root: null,
                  rootMargin: '-25% 0%',
                  threshold: [0],
                  animation: 'fadeUp'
                }
              )
                .p-about__features__text__main__heading
                  p 独自カリキュラムCCC
                  span Cross Cosmo Curriculum
                .p-about__features__text__main__text
                  p.p-about__features__text__main__text__left
                    |CCCはCross Cosmo Curriculum（クロス コスモ カリキュラム）の略称です。クロスカリキュラムとは、立体横断的に複数の科目の垣根を無くして学習を進めていくことを指します。理科の授業で得た化学の知識を使って、社会の授業で環境問題について考えていくのが特徴です。例えばコスモジュクでは、過去に「会社を作ろう」ということをテーマに、連続で6コマ程授業を行ったことがあります。
                  p.p-about__features__text__main__text__right
                    |会社を作るためにはどんな宣伝をするべきか（国語）、収益はどのように計算するのか（数学）、どんな法律が必要なのか（社会）を学んでいきました。学習していることがその科目以外のことにも関連している知ることで、知識を広げることの意義に気づくことを目的としています。「勉強ってこんなに楽しいんだ」と実感することができる、コスモジュクが自信を持ってお届けするカリキュラムです。
              .p-about__features__text__sub
                ul.p-about__features__text__sub__list
                  li.p-about__features__text__sub__item(
                    data-module="scrollAnimation"
                    data-options={
                      root: null,
                      rootMargin: '-25% 0%',
                      threshold: [0],
                      animation: 'fadeUp'
                    }
                  )
                    .p-about__features__text__sub__item__thumbnail
                      img(src="/assets/images/about/pic_thumbnail001.jpg", alt="イメージ画像")
                    .p-about__features__text__sub__item__heading
                      p 10年後を変える授業
                    .p-about__features__text__sub__item__text
                      p コスモジュクでは生徒の10年後を変えることを目標とした授業に取り組んでいます。例えば、テストのための詰め込み教育は行っていません。問題をしっかりと時間をかけて読み込み、また自分で理解したことを第三者に発表する機会を設けるなど、得た知識が社会に出てからも活かせるような学習を習慣にする環境をご提供しています。
                  li.p-about__features__text__sub__item(
                    data-module="scrollAnimation"
                    data-options={
                      root: null,
                      rootMargin: '-25% 0%',
                      threshold: [0],
                      animation: 'fadeUp'
                    }
                  )
                    .p-about__features__text__sub__item__thumbnail
                      img(src="/assets/images/about/pic_thumbnail002.jpg", alt="イメージ画像")
                    .p-about__features__text__sub__item__heading
                      p 携帯電話を利用した授業
                    .p-about__features__text__sub__item__text
                      p もちろんゲームやライン等授業に関係のないことでの使用は禁止していますが、英単語の検索などで携帯電話を使用することは可能。自宅学習の際に、自分自身でつまづきを解決する練習になるためです。またこれには生徒の自主性を重んじると同時に情報収集・情報選択など社会で必要なメディアリテラシーを養う狙いもあります。
                  li.p-about__features__text__sub__item(
                    data-module="scrollAnimation"
                    data-options={
                      root: null,
                      rootMargin: '-25% 0%',
                      threshold: [0],
                      animation: 'fadeUp'
                    }
                  )
                    .p-about__features__text__sub__item__thumbnail
                      img(src="/assets/images/about/pic_thumbnail003.jpg", alt="イメージ画像")
                    .p-about__features__text__sub__item__heading
                      p 自習室を完備
                    .p-about__features__text__sub__item__text
                      p 授業がない日などでも、塾が開いている時間であればいつでもご利用いただける、自習室をご用意しています。自主学習のための使用はもちろん、疑問点が見つかった際は、講師にすぐ質問できる環境にご好評をいただいております。授業での課題に加え、追加で問題の配布なども行っています。
    .c-section.p-about__reassurance
      .c-section__inner
        .c-section__contents
          .p-about__reassurance__inner
            .p-about__heading.is-small(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '0% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              p.p-about__heading__text
                |コスモジュクの安心ポイント
              p.p-about__heading__lead
                |授業の内容以外にも、安心して通っていただくことのできるポイントが数多くございます！
            .p-about__reassurance__content
              -
                var reassurance = [
                  {
                    num: '001',
                    title: 'LINEの積極活用。',
                    text: [
                      {
                        head: '入退室をLINEで通知',
                        text: '生徒が塾に来たタイミング、塾から出たタイミングでそれぞれ保護者の方のLINEに通知連絡を行なうサービスです。「塾についたという連絡がない」「いつ帰ってくるのだろう」というようなご心配も、このサービスがあれば不要です！'
                      },
                      {
                        head: '24時間受付可能なLINE相談',
                        text: '他の塾では、連絡ツールとして電話を使っているところが一般的ですが、コスモジュクではLINEをメインに保護者のみなさまとの連絡を行っています。塾内でのご様子や学習状況の共有に加え、進路相談、授業コマ数の追加など全ての窓口を一本化することで気軽で円滑なコミュニケーションが可能になりました。'
                      }
                    ]
                  },
                  {
                    num: '002',
                    title: '通いやすい立地',
                    lead: false,
                    text: [
                      {
                        head: false,
                        text: '日限山、丸山台、野庭、南舞岡、下永谷エリアのちょうど中間地点に位置するコスモジュクは、駅前に出るよりも通いやすく、教室付近は夜間も明るく安全なのでお子さまも安心です。また、教室の前には駐輪スペースを確保しており、塾の近辺は駐車可能な場所もございますので、自家用車での送迎もしやすい環境となっております。'
                      }
                    ]
                  },
                  {
                    num: '003',
                    title: '講師間での密な情報共有',
                    lead: false,
                    text: [
                      {
                        head: false,
                        text: '授業の質を向上するためには、講師間でのコミュニケーションを活性化することが必要不可欠だとコスモジュクでは考えています。そのため講師研修をはじめ、講師同士での模擬授業や授業評価などを積極的に開催。また、生徒の日頃の様子や学習状況などは必ず全員で共有するように徹底しています。'
                      }
                    ]
                  },
                  {
                    num: '004',
                    title: 'ポイント付与制度',
                    lead: false,
                    text: [
                      {
                        head: false,
                        text: 'コスモジュクにはコスモポイント（通称コポカ）と呼ばれるポイントがあり、宿題の提出や自習の時間に応じてポイントを付与していくシステムです。さらには学校の定期テストで高得点を取ったり、授業中の良い発言がボーナスポイントになることも。たまったポイントは勉強道具などに交換でき、生徒のやる気をアップさせています。'
                      }
                    ]
                  },
                ]
              ul.p-about__reassurance__content__list
                each item,index in reassurance
                  li.p-about__reassurance__content__item(class=`is-${item.num}`)
                    .p-about__reassurance__content__image(
                      data-module="scrollAnimation"
                      data-options={
                        root: null,
                        rootMargin: '-20% 0%',
                        threshold: [0],
                        animation: 'fadeUp'
                      }
                    )
                      .p-about__reassurance__content__image__inner
                        img.u-is-pc(src=`/assets/images/about/ico_point${item.num}-pc.png`, alt="アイコン")
                    .p-about__reassurance__content__text(
                      data-module="scrollAnimation"
                      data-options={
                        root: null,
                        rootMargin: '-20% 0%',
                        threshold: [0],
                        animation: 'fadeUp'
                      }
                    )
                      .p-about__reassurance__content__heading
                        p !{item.title.replace(/[\n\r]/g,"<br class='u-is-sp'>")}
                      each text,index in item.text
                        .p-about__reassurance__content__main
                          if (text.head)
                            p.p-about__reassurance__content__main__head #{text.head}
                          p.p-about__reassurance__content__main__text !{text.text.replace(/[\n\r]/g,"<br>")}
  include ../component/_footer.pug
