extend ../_template

block vars
  - title = '入塾の流れ＆よくある質問｜コスモジュク'
  - description = 'コスモジュクでは入塾までに体験授業や振り返り面談など、安心して入っていただくための制度がございます。体験時にチェックしてほしいポイントやよくあるご質問をご覧ください。'
  - keywords = '塾,個別指導,集団授業,受験,コスモジュク,コスモ,上永谷,港南,日限山,丸山台,舞岡'
  - img = 'http://renewal.cosmojuku.com/assets/images/share/ogp.png'
  - url = 'http://renewal.cosmojuku.com'
  - pageTitleEN = 'FLOW & FAQ'
  - pageTitleJP = '入塾の流れ & よくあるご質問'

block main
  include ../component/_header.pug
  .p-flow
    include ../component/_heading.pug
    -
      var flow = [
        {
          heading: '問い合わせ',
          text: 'お問い合わせフォーム、またはお電話、公式LINEからお気軽にご連絡ください。'
        },
        {
          heading: '面接／説明',
          text: '塾へお越しいただき、お子さまを交えた面談と簡単な塾のご説明をいたします。'
        },
        {
          heading: '体験授業',
          text: 'お話だけではわからないことも。そのため無料の体験授業を実施しています。'
        },
        {
          heading: '振り返り面談',
          text: 'お子さまの現状の学力と、これからの授業の取り組み方についてお伝えします。'
        },
        {
          heading: '入塾',
          text: '入塾にあたり、必要な書類の記入、教材の配布をし、いよいよ本授業のはじまりです。'
        },
      ]
      var checkpoint = [
        {
          num: '001',
          heading: '学習プラン',
          text: '伸びしろを見つけ出し、無理なく着実に続けられる学習プランをお伝えします。体験授業後に感想を聞いてみてください。'
        },
        {
          num: '002',
          heading: '授業中の雰囲気',
          text: '褒めて伸ばすのがコスモジュクの得意とするところ。授業中の雰囲気がどうだったか、ぜひお子さまに聞いてみてください。'
        },
        {
          num: '003',
          heading: '講師との相性',
          text: 'バラエティに富んだ講師の多さもコスモジュクの強みのひとつ。お子さまが講師に何を感じたのか聞いてみてください。'
        },
      ]
    .p-flow__enrollment.c-section
      .c-section__inner
        .c-section__contents
          .c-section__heading(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '0% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            p 入塾までの流れ
          .p-flow__enrollment__inner.u-is-pc(
            data-module="flowAnimation"
            data-options={
              root: null,
              rootMargin: '-10% 0%',
              threshold: [0],
              delay: 0.25,
            }
          )
            .p-flow__enrollment__images(data-module-flow-animation-roll="0")
              img(src="/assets/images/flow/img-number-pc.png", alt="")
            .p-flow__enrollment__texts
              ul.p-flow__enrollment__texts__list
                each item, index in flow
                  li.p-flow__enrollment__texts__item(class=`is-${index+1}` data-module-flow-animation-roll=`${index+1}`)
                    .p-flow__enrollment__texts__item__image
                      img(src=`/assets/images/flow/img-flow00${index+1}-pc.png`, alt=`${item.heading}`)
                    p.p-flow__enrollment__texts__item__heading #{item.heading}
                    p.p-flow__enrollment__texts__item__text #{item.text}
          .p-flow__enrollment__inner.u-is-sp(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '0% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            .p-flow__enrollment__texts.u-is-sp
              ul.p-flow__enrollment__texts__list
                each item, index in flow
                  li.p-flow__enrollment__texts__item(
                    class=`is-${index+1}`
                    data-module-flow-animation-roll=`${index+1}`
                    data-module="scrollAnimation"
                    data-options={
                      root: null,
                      rootMargin: '-10% 0%',
                      threshold: [0],
                      animation: 'fadeUp'
                    }
                  )
                    p.p-flow__enrollment__texts__item__heading #{item.heading}
                    p.p-flow__enrollment__texts__item__text #{item.text}
          .p-flow__checkpoint(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '-40% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            .p-flow__checkpoint__inner.u-is-pc(
              data-module="flowAnimation"
              data-options={
                root: null,
                rootMargin: '-10% 0%',
                threshold: [0],
                delay: 0.5,
              }
            )
              .p-flow__checkpoint__heading
                p 体験時のチェックポイント
              ul.p-flow__checkpoint__list
                each item,index in checkpoint
                  li.p-flow__checkpoint__item(data-module-flow-animation-roll=`${index+1}`)
                    .p-flow__checkpoint__item__image
                      img.u-is-pc(src=`/assets/images/flow/img_checkpoint${item.num}-pc.png`, alt="")
                      img.u-is-sp(src=`/assets/images/flow/img_checkpoint${item.num}-sp.png`, alt="")
                    .p-flow__checkpoint__item__heading
                      p #{item.heading}
                    .p-flow__checkpoint__item__text
                      p #{item.text}
              .p-flow__checkpoint__application(data-module-flow-animation-roll=`4`)
                a.c-button(href="/contact/")
                  .c-button__text
                    p 体験授業の申込はこちら
                  .c-button__arrow
            .p-flow__checkpoint__inner.u-is-sp
              .p-flow__checkpoint__heading
                p 体験時のチェックポイント
              ul.p-flow__checkpoint__list
                each item,index in checkpoint
                  li.p-flow__checkpoint__item(
                    data-module-flow-animation-roll=`${index+1}`
                    data-module="scrollAnimation"
                    data-options={
                      root: null,
                      rootMargin: '-10% 0%',
                      threshold: [0],
                      animation: 'fadeUp'
                    }
                  )
                    .p-flow__checkpoint__item__image
                      img.u-is-pc(src=`/assets/images/flow/img_checkpoint${item.num}-pc.png`, alt="")
                      img.u-is-sp(src=`/assets/images/flow/img_checkpoint${item.num}-sp.png`, alt="")
                    .p-flow__checkpoint__item__heading
                      p #{item.heading}
                    .p-flow__checkpoint__item__text
                      p #{item.text}
              .p-flow__checkpoint__application(
                data-module-flow-animation-roll=`4`
                data-module="scrollAnimation"
                data-options={
                  root: null,
                  rootMargin: '-5% 0%',
                  threshold: [0],
                  animation: 'fadeUp'
                }
              )
                a.c-button(href="/contact/")
                  .c-button__text
                    p 体験授業の申込はこちら
                  .c-button__arrow
    .p-flow__parallax.c-section(
      data-module="parallax"
      data-options={
        root: null,
        threshold: [0],
        delay: 0.5,
        coefficient: 25
      }
    )
    .p-flow__question.c-section
      .c-section__inner
        .c-section__contents
          .c-section__heading(
            data-module="scrollAnimation"
            data-options={
              root: null,
              rootMargin: '0% 0%',
              threshold: [0],
              animation: 'fadeUp'
            }
          )
            p よくあるご質問
          .p-flow__question__inner

            //- コスモジュクについて
            .p-flow__question__box(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-15% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-flow__question__title
                p コスモジュクについて
              -
                var aboutCosmo = [
                  {
                    question: 'コスモジュクってどんな塾ですか？',
                    answer: '学力を身につけるところ、一般的には塾というとそのようなイメージを持たれると思います。しかしコスモジュクでは、それ以外にも試験や受験を経て、社会に出た時にさらに価値が高まる能力を学ぶ場所を提供する、我々はそんな塾でありたいと考えます。詳しくは<a href="/about/">こちら</a>をご覧ください。'
                  }
                ]
              ul.p-flow__question__list
                each item in aboutCosmo
                  li.p-flow__question__item(data-module="accordion")
                    .p-flow__question__quetion(data-module-accordion-roll="trigger")
                      .p-flow__question__quetion__inner
                        .p-flow__question__quetion__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-Q.png", alt="question")
                          p.p-flow__question__quetion__text #{item.question}
                          p.p-flow__question__quetion__accordion(data-module-accordion-roll="icon")
                    .p-flow__question__answer(data-module-accordion-roll="target")
                      .p-flow__question__answer__inner(data-module-accordion-roll="content")
                        .p-flow__question__answer__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-A.png", alt="answer")
                          p.p-flow__question__answer__text !{item.answer}

            //- 授業について・コスモの指導について
            .p-flow__question__box(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-15% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-flow__question__title
                p 授業について・コスモの指導について
              -
                var aboutClass = [
                  {
                    question: '授業にちゃんとついていけるか心配です',
                    answer: '大教室の授業では、先生の目がなかなか行き届きませんが、コスモジュクは少人数制で、先生が一人ひとりの実力を把握。生徒さんの理解度を確認しながら授業を進めます。<br>先生に指名されて答えを間違えても、「なぜ間違えたか」を一緒に分析。決して苦手をそのまま残しません。'
                  },
                  {
                    question: '宿題はありますか？',
                    answer: 'はい、毎回必ず出ます。家庭学習を習慣づけるため、家族間のコミュニケーションを図るためにお出ししてます。'
                  },
                  {
                    question: '講師は選べますか？',
                    answer: 'お子様の性格に合った講師を選択し、授業をスタートいたしますが、講師の性別の希望、途中で講師を変えて欲しい等、ご要望に応じて講師を配置します。「ウチの子は人見知り…恥ずかしがり屋だから…」という保護者の方もご安心ください。'
                  }
                ]
              ul.p-flow__question__list
                each item in aboutClass
                  li.p-flow__question__item(data-module="accordion")
                    .p-flow__question__quetion(data-module-accordion-roll="trigger")
                      .p-flow__question__quetion__inner
                        .p-flow__question__quetion__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-Q.png", alt="question")
                          p.p-flow__question__quetion__text #{item.question}
                          p.p-flow__question__quetion__accordion(data-module-accordion-roll="icon")
                    .p-flow__question__answer(data-module-accordion-roll="target")
                      .p-flow__question__answer__inner(data-module-accordion-roll="content")
                        .p-flow__question__answer__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-A.png", alt="answer")
                          p.p-flow__question__answer__text !{item.answer}

            //- 授業料・ご入会について
            .p-flow__question__box(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-15% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-flow__question__title
                p 授業料・ご入会について
              -
                var aboutClassFees = [
                  {
                    question: '体験授業ってありますか？',
                    answer: 'はい、無料体験を実施しております。<a href="/contact/">お問合せ</a>より希望日時などのご希望を入力の上ご連絡ください。'
                  },
                  {
                    question: '実際の授業を見学してみたいのですが…',
                    answer: 'Webサイト、LINE、お電話から簡単に無料体験授業の予約ができます。<br>ぜひ、お気軽に<a href="/contact/">お問合せ</a>よりご連絡ください。'
                  },
                  {
                    question: '入塾テストはありますか？',
                    answer: 'コスモジュクでは、入塾の可否のためのテストは行っておりません。'
                  },
                  {
                    question: '月の途中からでも入塾できますか？',
                    answer: 'はい、できます。コスモジュクでは、勉強する科目・通塾時間・曜日、全てにおいて個別で対応を行っております。お子様の希望に合わせてスタートすることが可能です。'
                  },
                  {
                    question: '授業料はどれくらいですか？',
                    answer: '授業料は取得する講座によって異なります。また、集団授業と個別指導の併用割引や兄弟割引などもございます。<br>詳しくは<a href="/course/">こちら</a>をご覧ください。'
                  },
                  {
                    question: '授業料の納入方法はどのようになりますか？',
                    answer: '原則的に銀行引き落としになります。お支払い時期になりましたら引き落としの明細をお送りさせていただきます。また、講習費用など一部授業料につきましては、お振込みをお願いする場合がございます。<br>ご不明点は、どうぞお気軽にお問い合わせください。'
                  }
                ]
              ul.p-flow__question__list
                each item in aboutClassFees
                  li.p-flow__question__item(data-module="accordion")
                    .p-flow__question__quetion(data-module-accordion-roll="trigger")
                      .p-flow__question__quetion__inner
                        .p-flow__question__quetion__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-Q.png", alt="question")
                          p.p-flow__question__quetion__text #{item.question}
                          p.p-flow__question__quetion__accordion(data-module-accordion-roll="icon")
                    .p-flow__question__answer(data-module-accordion-roll="target")
                      .p-flow__question__answer__inner(data-module-accordion-roll="content")
                        .p-flow__question__answer__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-A.png", alt="answer")
                          p.p-flow__question__answer__text !{item.answer}


            //- 受講科目について
            .p-flow__question__box(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-15% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-flow__question__title
                p 受講科目について
              -
                var aboutTheCourses = [
                  {
                    question: '途中でコースを変更することはできますか？',
                    answer: 'はい、できます。生徒さんの学習状況により、受講している教科・曜日・時間を変更することができます。詳しくは教室までご相談ください。'
                  },
                  {
                    question: 'テスト前に普段受講していない科目も教えてもらえますか？',
                    answer: 'はい、できます。コスモジュクでは、基本五教科のテスト対策を行っています。また、特別心配な科目は別途お申込いただくことも可能です。'
                  },
                  {
                    question: '講習やテスト対策授業などは参加した方がいいんでしょうか？',
                    answer: '参加につきましては、任意となります。毎回の講習やテスト対策授業前にこちらから授業のご提案をさせていただいております。塾内でのご様子や学習状況を踏まえ生徒さん一人一人に合わせた内容となっております。講習時などは日頃学習をする時間が取れない生徒さんでも復習や予習など理解を深めるためのいい機会となります。'
                  },
                ]
              ul.p-flow__question__list
                each item in aboutTheCourses
                  li.p-flow__question__item(data-module="accordion")
                    .p-flow__question__quetion(data-module-accordion-roll="trigger")
                      .p-flow__question__quetion__inner
                        .p-flow__question__quetion__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-Q.png", alt="question")
                          p.p-flow__question__quetion__text #{item.question}
                          p.p-flow__question__quetion__accordion(data-module-accordion-roll="icon")
                    .p-flow__question__answer(data-module-accordion-roll="target")
                      .p-flow__question__answer__inner(data-module-accordion-roll="content")
                        .p-flow__question__answer__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-A.png", alt="answer")
                          p.p-flow__question__answer__text !{item.answer}

            //- 通塾について
            .p-flow__question__box(
              data-module="scrollAnimation"
              data-options={
                root: null,
                rootMargin: '-15% 0%',
                threshold: [0],
                animation: 'fadeUp'
              }
            )
              .p-flow__question__title
                p 通塾について
              -
                var aboutGoingToCramSchool = [
                  {
                    question: '部活やクラブ活動が忙しいのですが、通塾はできますか？',
                    answer: 'コスモジュクでは、多くの生徒さんが部活動や校外活動に参加されております。生徒さんのご都合に合わせた学習プランを提案させていただきます。'
                  },
                  {
                    question: '欠席の際はどうなりますか？',
                    answer: '欠席をされる際は、3日前までにご連絡をいただくようにお願いしております。その際には、振替授業や無料コマとして受講をされることが可能です。'
                  },
                  {
                    question: '授業のない日でも教室は利用できますか？',
                    answer: 'コスモジュクでは、生徒さんであればいつでもご利用いただける自習室として教室を開放しております。疑問点があれば講師へ質問することも可能です。まあ、定期テスト前には日曜日も自習室として開放しております。'
                  },
                  {
                    question: 'ちゃんと塾に行ってるか心配です…',
                    answer: 'LINEからの入退室連絡を行っております。また、日頃の授業のご様子などをLINEから相談することも可能です。'
                  },
                ]
              ul.p-flow__question__list
                each item in aboutGoingToCramSchool
                  li.p-flow__question__item(data-module="accordion")
                    .p-flow__question__quetion(data-module-accordion-roll="trigger")
                      .p-flow__question__quetion__inner
                        .p-flow__question__quetion__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-Q.png", alt="question")
                          p.p-flow__question__quetion__text #{item.question}
                          p.p-flow__question__quetion__accordion(data-module-accordion-roll="icon")
                    .p-flow__question__answer(data-module-accordion-roll="target")
                      .p-flow__question__answer__inner(data-module-accordion-roll="content")
                        .p-flow__question__answer__content
                          p.p-flow__question__icon
                            img(src="/assets/images/flow/icn-A.png", alt="answer")
                          p.p-flow__question__answer__text !{item.answer}
  include ../component/_footer.pug
