.p-top__course(
  data-module="scrollAnimation"
  data-options={
    root: null,
    rootMargin: '-25% 0%',
    threshold: [0],
    animation: 'fadeUp'
  }
)
  .p-top__header__title コース・料金
  .p-top__header__text
    |コスモジュクでは生徒ひとりひとりに適した学習指導ができるよう、3つのコースをご用意しております。
    br.u-is-pc
    |それぞれのコースをかけ合わせることも可能です。ぜひ教室までご相談ください。

  .p-top__course__introduction
    ul.p-top__course__introduction__list

      li.p-top__course__introduction__list__item.is-001
        .p-top__course__introduction__list__title オリジナルコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/top/pc/course_introduction_1.png", alt="")
        .p-top__course__introduction__list__text 集団授業の形態です。1クラス8人を定員として、少人数でコミュニケーションの取りやすいスタイルを取っています。生徒自身が発表する場を設けたり、生徒同士で質問し合ったりすることで、対教師だけの授業では生まれない新たな角度からの理解や発想と出会うことができます。
        a.p-top__course__introduction__list__anchor(href="/course/?target=original_course")
          span.p-top__course__introduction__list__anchor__arrow
          |コース詳細をみる

      li.p-top__course__introduction__list__item.is-002
        .p-top__course__introduction__list__title チュートリアルコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/top/pc/course_introduction_2.png", alt="")
        .p-top__course__introduction__list__text 講師1人に対して生徒が最大2名までの個別指導の形態です。個人の学習状況（進度、学力、意欲、提出物の状況など）に合わせてカリキュラムを作成するため、自分のペースで学習することができます。自身の予定に合わせて通塾することが可能なのもポイントです。
        a.p-top__course__introduction__list__anchor(href="/course/?target=tutorial_course")
          span.p-top__course__introduction__list__anchor__arrow
          |コース詳細をみる

      li.p-top__course__introduction__list__item.is-003
        .p-top__course__introduction__list__title 南中コース
        .p-top__course__introduction__list__image
          img(src="/assets/images/top/pc/course_introduction_3.png", alt="")
        .p-top__course__introduction__list__text 横浜市立南中学校を目指すコースです。合格に必要とされる「読解力」「思考力」「表現力」を習得するためのカリキュラムを採用。基礎から応用、発展まで、長年培った経験と対策でじっくりと指導していきます。チュートリアルコースから南中コースへの変更も可能です。
        a.p-top__course__introduction__list__anchor(href="/course/?target=south_junior_high_school_course")
          span.p-top__course__introduction__list__anchor__arrow
          |コース詳細をみる

      li.p-top__course__introduction__list__item.is-004
        .p-top__course__introduction__list__title 大学受験コース
        .p-top__course__introduction__list__image
          img(src="/assets/images/top/pc/course_introduction_4.png", alt="")
        .p-top__course__introduction__list__text 大学受験を目標にした、映像授業と個別指導を組み合わせたハイブリットなコースです。映像授業で単元の内容を確認してから、講師との個別授業で問題演習から内容理解を深めていきます。また、映像は何度でも視聴することが可能です。
        a.p-top__course__introduction__list__anchor(href="/course/?target=university_entrance_exam_course")
          span.p-top__course__introduction__list__anchor__arrow
          |コース詳細をみる

      li.p-top__course__introduction__list__item.is-005
        .p-top__course__introduction__list__title オンラインコース
        .p-top__course__introduction__list__image
          img(src="/assets/images/top/pc/course_introduction_5.png", alt="")
        .p-top__course__introduction__list__text オンラインによる、講師1名に対して生徒1名の完全個別授業になります。1対1での授業となるため自身のペースで学習を進めることができます。また、分からない問題があった際には、オンライン上で質問をすることもできます。
        a.p-top__course__introduction__list__anchor(href="/course/?target=online_course")
          span.p-top__course__introduction__list__anchor__arrow
          |コース詳細をみる

  .p-top__course__link(
    data-module="ashiato"
    data-options={
      'target': 'ashiato1',
      'setting': {
        root: null,
        rootMargin: '0% 0%',
        threshold: [0],
      }
    })
    a.c-button(href="/course/")
      .c-button__text
        p コースの一覧を見る
      .c-button__arrow

  .p-top__footprints.is-1.u-is-pc(data-module-ashiato-roll="ashiato1")
    - for (var i = 0; i < 9; i++)
      .p-top__footprints__ashiato(class=`is-${i}` data-module-ashiato-roll="ashiato1-children")
        img(src=`/assets/images/top/pc/ashiato-1_${i}.png`, alt="足跡")

  .p-top__footprints.is-1.u-is-sp(data-module-ashiato-roll="ashiato1")
    - for (var i = 0; i < 9; i++)
      .p-top__footprints__ashiato(class=`is-${i}` data-module-ashiato-roll="ashiato1-children")
        img(src=`/assets/images/top/sp/ashiato-1_${i}.png`, alt="足跡")

